$primary-color: #000;
$secondary-color: #666;

$primary-background-color: #fff;
$secondary-background-color: #eee;

// Navbar
$navbar-primary-background: #00cb84;
$navbar-secondary-background: #00de94;
$navbar-font-color: #fff;
