@import 'base/module';
@import 'layout/module';
@import 'components/module';

html,
body {
  height: 100%;
  font-family: sans-serif;
  background: rgba(0,0,0,.02);

  #app {
    height: 100%;

    & > div {
      height: 100%;
    }
  }
}