@import 'base/module';
@import 'layout/module';
@import 'components/module';

@import 'base/_theme';

html,
body {
  height: 100%;
  font-family: sans-serif;
  background: $secondary-background-color;

  #app {
    height: 100%;

    & > div {
      height: 100%;
    }
  }
}