.home-layout {
  height: 100%;
  display: grid;
  grid-template-areas: "navbar navbar"
                       "content map";
  grid-template-rows: 80px auto;
  grid-template-columns: 1fr 1fr;
  
  .home-left {
    grid-area: content;
    overflow-y: auto;
  }

  .home-right {
    grid-area: map;
  }
}

// Use slightly bigger brakpoint for that
@media only screen and (max-width: 320px) {
  .home-layout {
    grid-template-areas: "navbar navbar"
                         "content content";
  }
}