@import '../base/_theme';

.signin-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $navbar-primary-background;
  box-shadow: inset 0 1px 2px #666;
}

.signin {

  .signin__form {

    input {
      font-size: 1.5em;
      border: 0;
      outline: 0;
      color: #fff;
      background: $navbar-secondary-background;
      display: block;
      padding: 20px 10px;
      margin-bottom: 10px;
      border-radius: 3px;
      box-shadow: inset 0 0 2px #666;

      &.error {
        box-shadow: inset 0 0 2px red;
        border: 1px solid red;
      }

      &::placeholder {
        color: #fff;
      }
    }

    .signin__form--submit {
      font-size: 1.5em;
      border: 0;
      outline: 0;
      color: white;
      font-weight: bold;
      background: $navbar-secondary-background;
      width: 100%;
      padding: 20px 10px;
      border-radius: 3px;

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 2px #666;
      }
    }
  }
}