@import '../base/_theme';

.navbar {
  background: $navbar-primary-background;
  color: $navbar-font-color;

  height: 66px;
  line-height: 66px;
  box-sizing: border-box;
  padding: 0 10px;
  display: flex;
  flex-direction: row;

  a { 
    text-decoration: none;
    color: $navbar-font-color;
  }

  .navbar__wrapper { flex: 1; }
  .navbar__brand {
    font-size: 1.5em;
    font-weight: bold;

  }
  .navbar__description {
    margin-left: 10px;
    font-size: .87em;
    color: $navbar-font-color;
  }

  .navbar__menu { 
    flex: 1;
    text-align: right;

    .navbar__link {
      display: inline-block;
      font-weight: bold;

      a {
        padding: 10px 15px;
        border-radius: 3px;
        color: $navbar-font-color;
        transition: 0.1s ease-in-out all;
      
        &:hover {
          background: $navbar-secondary-background;
          box-shadow: inset 0 0 2px #666;
        }
      }
    }
  }
}